.page {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.rounded-box {
  width: 400px;
  height: 250px;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: -800px;
  background-color: #ffffff;
  // border-bottom-left-radius: 40px;
  // border-bottom-right-radius: 40px;
  z-index: -1;
}