.beaches-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: -15px;
  

  .plus-icon {
    position: relative;
    right: -135px;
  }
}

h2 {
  align-items: right;
  margin-bottom: 25px;
}

.beach-gallery {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
  max-width: 440px; // Mobile-first width
  margin: 0 auto;
  scroll-snap-type: x mandatory;

  .beach-card {
    flex: 0 0 auto;
    width: 190px;
    height: 288px;
    background-color: #E9F7FF;
    border-radius: 24px;
    border: 2px solid #E9F7FF;
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);??????????????
    scroll-snap-align: start;
    overflow: hidden;
    align-items: center;

    &:hover {
      background-color: #FEFEFE;
      border-color: #F2F2F7;
      border: 2px solid #32B0FF;
      border-radius: 20px;
      cursor: pointer;
    }

    .image-container {
      width: 164px;
      height: 139px;
      overflow: hidden;
      background-color: #FEFEFE;
      border-radius: 24px;
      margin: auto;
      margin-top: 10px;

      img {
        width: 164px;
        height: 139px;
        object-fit: cover;
        border-radius: 24px;
      }
    }

    .details {
      display: center;
      flex-direction: column;
      width: fit-content;
      margin: auto;
      padding: 10px;

      h3 {
        margin: 0 0 10px;
        font-size: 18px;
        font-weight: 800;
        color: #333;

        &:hover {
          color: #32B0FF;
        }
      }

      p {
        margin: 0 0 10px;
        font-size: 12px;
        font-weight: 500;
        color: #9D9DA1;
      }

      a {
        display: block;
        margin: 4px 0;
        font-size: 10px;
        font-weight: 800;
        color: #4D4D4D;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: #2c99de;
        }
      }

      span {
        font-size: 10px;
        color: #333;
        font-weight: 800;
      }
    }
  }
}

// Tablet styling
@media (min-width: 768px) {
  .beach-gallery {
    max-width: 768px;
  }
}

// Computer styling
@media (min-width: 1024px) {
  .beach-gallery {
    max-width: 1024px;
  }
}