.leaderboard-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .list-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 20px 10px 120px;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 75px;
    padding: 0 10px;


    div {
      &:nth-child(1) {
        flex: 1;
        text-align: left;
      }

      &:nth-child(2) {
        width: 100px;
        text-align: center;
      }

      &:nth-child(3) {
        width: 100px;
        text-align: right;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: center;
      background-color: #E9F7FF;
      border: 2px solid #E9F7FF;
      border-radius: 20px;
      margin-bottom: 20px;
      padding: 10px 20px;

      &:hover {
        background-color: #FEFEFE;
        border-color: #F2F2F7;
        border: 2px solid #32B0FF;
        border-radius: 20px;
        cursor: pointer;
      }


      // I have to fix this rank thing

      .rank {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: #191919;
        color: #FEFEFE;
        border-radius: 50%;
        margin-left: -10px;
        z-index: 3;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: -10px;
      }

      .name {
        flex: 1;
        font-weight: bold;
        color: #191919;
        margin-left: 3px;
        font-size: 14px;
      }

      .hours {
        width: 100px;
        text-align: center;
        font-size: 12px;
      }

      .points {
        width: 100px;
        text-align: right;
        font-weight: 500;
        font-size: 12px;
      }


    }
  }

  button {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    color: #FEFEFE;
    background-color: #32B0FF;
    border: 2px solid #32B0FF;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
      background-color: #FEFEFE;
      border-color: #FEFEFE;
      color: #32B0FF;
    }
  }
}